<h1><%= @city %></h1>
<h1>Data Set Count: <%= @count%></h1>

<%= form_for root_path, :method => :get do |f| %>
  <%= f.select :dataSet, options_for_select(dataSets, @city), :onchange => "this.form.submit();" %>
  <%= f.submit "Get Data", :class => "nav_button" %>
<% end %>

<%= timeline @chart_data, height: "500px", width: "1000px"%>

<h4>Datasets Made in the past month:</h4>

<ul>
  <% @created_this_month.each_with_index do |title| %>
   <li><%= link_to title[0], title[1]%></li>
  <% end %>
</ul>

<h4>Datasets Updated in the past month:</h4>

<ul>
  <% @updated_this_month.each_with_index do |title| %>
   <li><%= link_to title[0], title[1]%></li>
  <% end %>
</ul>
